---
import { Icon } from 'astro-icon/components'

interface Props {
  category: {
    name:        string
    description: string
    icon:        string
    id:          string
  }
}

const { category } = Astro.props
const { id, name, description, icon } = category
---

<article class="bg-white rounded-lg shadow-2xl hover:shadow-lg transition-shadow duration-300 p-6">
  <a href={ `/services/${ id }` }>
    <section class="flex items-center mb-4">
      <div class="bg-primary rounded-full p-2 text-slate-800">
        <Icon
          name={ icon }
          size={ 40 }
          class="text-[#243642]"
        />
      </div>
      <h3 class="text-xl font-semibold"> { name } </h3>
    </section>
    <section>
      <p class="text-gray-600"> { description } </p>
    </section>
  </a>
</article>
