---
import AuthLayout from '@/modules/auth/layouts/AuthLayout.astro'
import { getRandomCaptcha } from '@/utils'
import { Icon } from 'astro-icon/components'

import 'sweetalert2/dist/sweetalert2.min.css'

const { audio: audioUrl, code: unhashedCode } = getRandomCaptcha()
const code = btoa( unhashedCode )
---

<AuthLayout class="bg-gradient-to-br from-[#800020] via-red-500 to-orange-500 min-h-screen flex justify-center items-center font-sans">
  <a
    class="mt-8 px-4 py-2 text-white bg-slate-900 rounded hover:text-slate-800 hover:bg-white transition-colors flex items-center gap-2"
    href="/"
  >
    <Icon name="mdi:home" size={ 24 } />Volver a Inicio
  </a>
  <div class="w-full flex flex-col-reverse gap-4 px-8 lg:flex-row lg:items-center lg:justify-center lg:py-8 mb-16">
    <div class="w-full flex flex-col items-center justify-center gap-12 lg:p-8 border-r-2 border-r-white lg:w-1/2 lg:max-w-[700px]">
      <div class="bg-white bg-opacity-80 backdrop-blur-lg p-8 rounded-lg shadow-[0_0_25px_12px_rgba(0,0,0,0.6)] w-full flex flex-col gap-8">
        <div class="bg-red-600 w-16 h-16 rounded-full flex justify-center items-center mx-auto -mt-20 mb-5 shadow-md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="white"
            class="w-6 h-6"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
          </svg>
        </div>
        <h2 class="text-center text-3xl font-bold text-slate-800"> Crear una cuenta </h2>
        <form class="w-full flex flex-col gap-4" id="form-signup">
          <div class="flex flex-col gap-4 md:flex-row">
            <div class="flex flex-col gap-4 w-full">
              <label for="name" class="text-slate-800 text-sm font-bold"> Nombres </label>
              <input
                id="name"
                name="name"
                type="text"
                placeholder="Nombre"
                class="w-full p-2 border border-gray-200 rounded bg-white bg-opacity-90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-red-500"
                required
              />
            </div>

            <div class="flex flex-col gap-4 w-full">
              <label for="lastName" class="text-slate-800 text-sm font-bold"> Apellidos </label>
              <input
                id="lastName"
                name="lastName"
                type="text"
                placeholder="Apellido"
                class="w-full p-2 border border-gray-200 rounded bg-white bg-opacity-90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-red-500"
                required
              />
            </div>
          </div>

          <div class="flex flex-col gap-4">
            <label for="email" class="text-slate-800 text-sm font-bold"> Correo electrónico </label>
            <input
              id="email"
              name="email"
              type="email"
              placeholder="email@example.com"
              class="w-full p-2 border border-gray-200 rounded bg-white bg-opacity-90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-red-500"
              required
            />
          </div>


          <div class="flex flex-col gap-4 md:flex-row">
            <div class="flex flex-col gap-4 w-full">
              <label for="password" class="text-slate-800 text-sm font-bold"> Contraseña </label>
              <input
                id="password"
                name="password"
                type="password"
                placeholder="Contraseña"
                class="w-full p-2 border border-gray-200 rounded bg-white bg-opacity-90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-red-500"
                required
              />
            </div>

            <div class="flex flex-col gap-4 w-full">
              <label for="confirmPassword" class="text-slate-800 text-sm font-bold"> Confirmar contraseña </label>
              <input
                id="confirmPassword"
                name="confirmPassword"
                type="password"
                placeholder="Confirmar contraseña"
                class="w-full p-2 border border-gray-200 rounded bg-white bg-opacity-90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-red-500"
                required
              />
            </div>
          </div>

          <div class="flex flex-col gap-2 mt-4">
            <div class="flex flex-col gap-4">
              <div class="flex justify-between items-center text-gray-800">
                <label class="flex items-center">
                  <input
                    id="typeOfUser"
                    name="typeOfUser"
                    type="checkbox"
                    class="mr-2"
                    value="worker"
                  /> Quiero formar parte de nuestros trabajadores
                </label>
              </div>
            </div>

            <div class="flex flex-col gap-4">
              <div class="flex justify-between items-center text-gray-800">
                <label class="flex items-center">
                  <input
                    name="terms"
                    type="checkbox"
                    id="terms-checkbox"
                    class="mr-2"
                  /> Acepto los <a href="#" class="text-blue-500 hover:underline"> Términos y condiciones </a>
                </label>
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-4 justify-center items-center">
            <label for="captcha" class="text-slate-800 text-sm font-bold"> Ingresa el código del CAPTCHA </label>
              <audio id="captcha-audio" controls class="mb-4" data-ref={ code }>
              <source src={ audioUrl } type="audio/mpeg" />
              Tu navegador no soporta la reproducción de audio.
            </audio>
            <input
              id="captcha"
              name="captcha"
              type="text"
              placeholder="Código CAPTCHA"
              class="w-full p-2 mb-4 border border-gray-200 rounded bg-white bg-opacity-90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-red-500"
              required
            />
          </div>

          <button
            type="submit"
            class="w-full p-2 bg-red-600 text-white font-bold rounded cursor-pointer hover:bg-red-700 transition duration-300 disabled:bg-gray-400 disabled:text-gray-500"
            id="submit-button"
            disabled
          >
            Registrarse
          </button>
        </form>

        <p class="text-center text-sm text-slate-600">
          ¿Ya tienes una cuenta?
          <a href="/auth/signin" class="text-blue-500 hover:underline">
            Ingresar con tu cuenta
          </a>
        </p>
      </div>
    </div>

    <div class="w-full flex flex-col items-center justify-center gap-4 py-8 md:p-8 lg:w-1/2 lg:max-w-[500px]">
      <img
        src="/logo.jpg"
        alt="Jobs Now Logo"
        class="w-full max-w-[200px] md:max-w-[400px] rounded-lg shadow-black shadow-2xl"
        transition:name="logo-auth"
      />
    </div>
  </div>
</AuthLayout>
<script>
import { actions } from 'astro:actions'
import { getErrorMessage } from '@/utils'
import Swal from 'sweetalert2'

const { signIn } = await import( 'auth-astro/client' )

const handlerPageLoad = () => {
  const form = document.getElementById( 'form-signup' ) as HTMLFormElement
  const submitButton = document.querySelector( 'button' ) as HTMLButtonElement

  const termsCheckbox = document.getElementById( 'terms-checkbox' ) as HTMLInputElement

  const captchaAudio = document.querySelector( '#captcha-audio' ) as HTMLAudioElement
  const captchaInput = document.querySelector( '#captcha' ) as HTMLInputElement


  if ( !form || !submitButton || !captchaAudio || !captchaInput || !termsCheckbox ) {
    return
  }

  termsCheckbox.addEventListener( 'change', ( event ) => {
    const target = event.target as HTMLInputElement
    submitButton.disabled = !target.checked
  } )

  const encodedCode = captchaAudio.getAttribute( 'data-ref' ) as string
  const decodedCode = atob( encodedCode.trim() )


  form.addEventListener( 'submit', async ( event ) => {
    event.preventDefault()

    submitButton.disabled = true

    const formData = new FormData( form )

    const userCaptcha = captchaInput.value.trim()

    if ( userCaptcha !== decodedCode ) {
      Swal.fire({
        icon: 'error',
        title: 'Error de CAPTCHA',
        text: 'El código CAPTCHA ingresado es incorrecto.',
      })
      submitButton.disabled = false
      return
    }

    const { error } = await actions.signupUser( formData )

    if ( error ) {

      const errorMessages = getErrorMessage( error )

      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: errorMessages,
      })

      submitButton.disabled = false
      return
    }

    const response = await signIn( 'credentials', {
      email: formData.get( 'email' ) as string,
      password: formData.get( 'password' ) as string,
      redirect: false,
    } )

    if ( response ) {
      Swal.fire( {
        icon: 'error',
        title: 'Error en el Inicio de sesión',
        text: `Parece que el correo electrónico o la contraseña son incorrectos`
      } )
      submitButton.disabled = false
      return
    }

    window.location.replace( '/' )
  } )
}

document.addEventListener( 'astro:page-load', handlerPageLoad )
</script>
