---
import AuthLayout from '@/modules/auth/layouts/AuthLayout.astro'

---

<AuthLayout class="bg-gradient-to-br from-[#800020] via-red-500 to-orange-500 min-h-screen flex justify-center items-center font-sans">
  <div class="w-full flex flex-col-reverse gap-4 p-8 md:flex-row md:items-center md:justify-center md:py-20">
    <div class="w-full flex flex-col items-center justify-center gap-12 md:p-8 border-r-2 border-r-white md:w-1/2 md:max-w-[500px]">
      <div class="bg-white bg-opacity-80 backdrop-blur-lg p-8 rounded-lg shadow-[0_0_25px_12px_rgba(0,0,0,0.6)] w-full flex flex-col gap-8">
        <div class="bg-red-600 w-16 h-16 rounded-full flex justify-center items-center mx-auto -mt-20 mb-5 shadow-md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="white"
            class="w-6 h-6"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
          </svg>
        </div>
        <h2 class="text-center text-3xl font-bold text-slate-800"> Crear una cuenta </h2>
        <form class="w-full flex flex-col gap-4">
          <div class="flex flex-col gap-4">
            <label for="email" class="text-slate-800 text-sm font-bold"> Correo electrónico </label>
            <input
              id="email"
              name="email"
              type="email"
              placeholder="email@example.com"
              class="w-full p-2 border border-gray-200 rounded bg-white bg-opacity-90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-red-500"
            />
          </div>
          <div class="flex flex-col gap-4">
            <label for="password" class="text-slate-800 text-sm font-bold"> Contraseña </label>
            <input
              id="password"
              name="password"
              type="password"
              placeholder="Contraseña"
              class="w-full p-2 border border-gray-200 rounded bg-white bg-opacity-90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-red-500"
            />
          </div>

          <div class="flex flex-col gap-4">
            <label for="confirmPassword" class="text-slate-800 text-sm font-bold"> Confirmar contraseña </label>
            <input
              id="confirmPassword"
              name="confirmPassword"
              type="password"
              placeholder="Confirmar contraseña"
              class="w-full p-2 border border-gray-200 rounded bg-white bg-opacity-90 text-gray-800 focus:outline-none focus:ring-2 focus:ring-red-500"
            />
          </div>

          <div class="flex flex-col gap-2 mt-4">
            <div class="flex flex-col gap-4">
              <div class="flex justify-between items-center text-gray-800">
                <label class="flex items-center">
                  <input
                    id="typeOfUser"
                    name="typeOfUser"
                    type="checkbox"
                    class="mr-2"
                    value="worker"
                  /> Quiero formar parte de nuestros trabajadores
                </label>
              </div>
            </div>

            <div class="flex flex-col gap-4">
              <div class="flex justify-between items-center text-gray-800">
                <label class="flex items-center">
                  <input type="checkbox" class="mr-2" /> Acepto los <a href="#" class="text-blue-500 hover:underline"> Términos y condiciones </a>
                </label>
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="w-full p-2 bg-red-600 text-white font-bold rounded cursor-pointer hover:bg-red-700 transition duration-300"
          >
            Registrarse
          </button>
        </form>

        <p class="text-center text-sm text-slate-600">
          ¿Ya tienes una cuenta?
          <a href="/auth/signin" class="text-blue-500 hover:underline">
            Ingresar con tu cuenta
          </a>
        </p>
      </div>
    </div>

    <div class="w-full flex flex-col items-center justify-center gap-4 py-8 md:p-8 md:w-1/2 md:max-w-[500px]">
      <img
        src="/logo.svg"
        alt="QualitySoft"
        class="w-full max-w-[200px] md:max-w-[400px]"
        transition:name="logo-auth"
      />
    </div>
  </div>
</AuthLayout>
<script>
import { actions } from 'astro:actions'
import Swal from 'sweetalert2'

const form = document.querySelector( 'form' ) as HTMLFormElement
const submitButton = document.querySelector( 'button' ) as HTMLButtonElement

form.addEventListener( 'submit', async ( event ) => {

  event.preventDefault()

  submitButton.disabled = true

  const formData = new FormData( form )

  const { error } = await actions.signupUser( formData )

  if ( error ) {
    Swal.fire( {
      icon: 'error',
      title: 'Error',
      text: error.message,
    } )
    submitButton.disabled = false
    return
  }
  window.location.replace( '/' )
} )

</script>
