---
import { getSession } from 'auth-astro/server'

import Layout from '@/modules/shared/layouts/Layout.astro'
import PublicNavbar from '@/modules/public/components/ui/PublicNavbar.astro'
import ClientNavbar from '@/modules/clients/components/ui/ClientsNavbar.astro'
import WorkerProfile from '@/modules/clients/components/cards/WorkerProfile.astro'

const session = await getSession( Astro.request )

const { user } = session ?? {}
const { id } = Astro.params
---

<Layout>
  {
    ( !user ) ? (
      <PublicNavbar />
    ) : (
      <ClientNavbar user={ user } />
    )
  }
  <div class="py-8 md:py-20">
    <WorkerProfile workerId={ String( id ) } />
  </div>
</Layout>
