---
import WorkerProfileCard from './WorkerProfileCard.astro'
import { actions } from 'astro:actions'

const { data: workerProfilesData, error: workerProfilesError } = await Astro.callAction( actions.findAllWorkerProfiles, {} )
if ( workerProfilesError ) return Astro.redirect( '/client' )
const { workerProfiles } = workerProfilesData

---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-7xl px-8">
  {
    workerProfiles.map( ( workerProfile ) => (
      <WorkerProfileCard workerId={ workerProfile.userId } />
    ) )
  }
</div>
