---
import WorkerProfileCard from './WorkerProfileCard.astro'
import { Icon } from 'astro-icon/components'
import { actions } from 'astro:actions'

const rating = Number( Astro.url.searchParams.get( 'rating' ) ?? 0 )
const serviceCategoryId = Astro.url.searchParams.get( 'serviceCategoryId' )
const search = Astro.url.searchParams.get( 'search' )

const { data: workerProfilesData, error: workerProfilesError } = await Astro.callAction( actions.findAllWorkerProfiles, { search: search ?? undefined, rating: rating ?? undefined, serviceCategoryId: serviceCategoryId ?? undefined } )
if ( workerProfilesError ) return Astro.redirect( '/client' )
const { workerProfiles } = workerProfilesData

const { data: serviceCategoriesData, error: serviceCategoriesError } = await Astro.callAction( actions.findAllServiceCategories, {} )
if ( serviceCategoriesError ) return Astro.redirect( '/404' )
const { serviceCategories } = serviceCategoriesData

---

<form class="w-full max-w-7xl px-8">
  <h2 class="text-3xl font-bold text-center mb-8 text-gray-800">🔍 Búsqueda Avanzada</h2>
  <div class="flex flex-col items-center justify-center py-8 lg:flex-row gap-4 lg:gap-2">
    <div class="w-full px-4 lg:w-1/2 flex flex-col gap-4">
      <label for="search" class="block text-lg font-medium text-gray-700">
        Buscar
      </label>
      <div class="relative">
        <input
          type="text"
          id="search"
          name="search"
          class="w-full pl-4 pr-12 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-500"
          value={ search }
          placeholder="Nombre del Trabajador"
        />
      </div>
    </div>
    <div class="w-full lg:w-1/2 px-4 flex flex-col lg:flex-row gap-4 items-center justify-center">
     <div class="w-full lg:w-1/2 lg:px-4 flex flex-col gap-4">
        <label for="serivceCategoryId" class="block text-lg font-medium text-gray-700">
          Categoría
        </label>
        <select
          id="serviceCategoryId"
          name="serviceCategoryId"
          class="w-full pl-4 pr-10 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        >
          <option value=""> Todas las categorías </option>
          {
          serviceCategories.filter( sc => sc.status ).map( ( serviceCategory ) => (
          <option
            value={ serviceCategory.id }
            selected={ serviceCategoryId === serviceCategory.id }
          >
            { serviceCategory.name }
          </option>
          ) )
          }
        </select>
      </div>
      <div class="w-full lg:w-1/2 lg:px-4 flex flex-col gap-4">
        <label for="rating" class=" text-lg font-medium text-gray-700 line-clamp-1">
          Calificación mínima
        </label>
        <select
          id="ratingSearch"
          name="ratingSearch"
          class="w-full pl-4 pr-10 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent"
        >
          <option value=""> Todos los niveles </option>
          { [ 5, 4, 3, 2, 1 ].map( ( star ) => (
          <option
            value={ star }
            selected={ rating === star }
          >
            {
            [ 5, 4, 3, 2, 1 ].map( ( subStar ) => (
              <>
              { ( subStar < star + 1 ) && ( <> ⭐ </> ) }
              </>
            ) )
            }
          </option>
          ) )
          }
        </select>
      </div>
      <button
        class="bg-blue-500 text-white px-3 py-3 rounded-md hover:bg-blue-600 transition-colors duration-200 flex items-center gap-2 mt-10 font-bold"
        type="submit"
      >
        <Icon name="mdi:magnify" size={ 18 } />
        Buscar
      </button>
    </div>
  </div>
</form>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-7xl px-8">

  {
    workerProfiles.map( ( workerProfile ) => (
      <WorkerProfileCard workerId={ workerProfile.userId } />
    ) )
  }
  {
    ( workerProfiles.length === 0 ) && (
      <div class="font-semibold text-center text-gray-600 text-xl py-8">
        No hay trabajadores disponibles 😢
      </div>
    )
  }
</div>

<script>
const starButtons = document.querySelectorAll( '.star-buttons' ) as NodeListOf<HTMLButtonElement>

starButtons.forEach( ( star ) => {
  star.addEventListener( 'click', async () => {
    const id = star.id.replace( 'button-star-', '' )

    for ( const star of starButtons ) {
      const beforeStar = star.id.replace( 'button-star-', '' )
      if ( Number( beforeStar ) <= Number( id ) ) {
        const iconStarOutline = document.getElementById( `icon-star-outline-${ beforeStar }` ) as HTMLElement
        const iconStar = document.getElementById( `icon-star-${ beforeStar }` ) as HTMLElement
        iconStarOutline.classList.add( 'hidden' )
        iconStar.classList.remove( 'hidden' )
      } else {
        const iconStarOutline = document.getElementById( `icon-star-outline-${ beforeStar }` ) as HTMLElement
        const iconStar = document.getElementById( `icon-star-${ beforeStar }` ) as HTMLElement
        iconStarOutline.classList.remove( 'hidden' )
        iconStar.classList.add( 'hidden' )
      }
    }

    const ratingInput = document.getElementById( 'ratingSearch' ) as HTMLInputElement
    ratingInput.value = String( id )
  } )
} )

const searchForm = document.querySelector( 'form' ) as HTMLFormElement

searchForm.addEventListener( 'submit', async ( event ) => {
  event.preventDefault()
  const formData = new FormData( searchForm )
  const data = Object.fromEntries( formData.entries() )
  const { ratingSearch, serviceCategoryId, search } = data
  //window.location.href = `/?rating=${ ratingSearch }&serviceCategoryId=${ serviceCategoryId }&search=${ search }`
  const ratingSearchValue = ratingSearch ?? ''
  const serviceCategoryIdValue = serviceCategoryId ?? ''
  const searchValue = search ?? ''

  window.location.href = `/?rating=${ ratingSearchValue }&serviceCategoryId=${ serviceCategoryIdValue }&search=${ searchValue }`

} )
</script>
