---
import { actions } from 'astro:actions'

interface Props {
  workerId: string
}

const { workerId } = Astro.props

const { data: workerProfileData, error: workerProfileError } = await Astro.callAction( actions.findOneWorkerProfile, { id: workerId } )
if ( workerProfileError ) return Astro.redirect( '/client' )
const { workerProfile } = workerProfileData

const { data: workerData, error: workerError } = await Astro.callAction( actions.findOneUser, { id: workerProfile.userId } )
if ( workerError ) return Astro.redirect( '/client' )
const { user: worker } = workerData

---

<div class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 flex items-center gap-4 p-4">
  <div class="w-full flex items-center justify-center gap-4">
    <div class="h-16 rounded-full bg-gray-100 flex items-center justify-center">
      <img
        src={ worker.avatar || '/avatar.svg' }
        alt={ `${ worker.name } ${ worker.lastName }` }
        class="w-16 h-16 object-cover rounded-full"
      />
    </div>
  </div>
  <div class="p-4 w-full">
    <a
      class="text-xl font-semibold text-blue-600 hover:underline transition-colors duration-300 flex items-center gap-2"
      href={ `/job-profiles/${ workerProfile.userId }` }
      target="_blank"
    >
      { worker.name } { worker.lastName }
    </a>
  </div>
</div>
