---
import { Icon } from 'astro-icon/components'

interface Props {
  links: { title: string, icon: string, url: string }[]
}

const activeClass = 'bg-gray-200 text-gray-900'
const currentPath = Astro.url.pathname

const { links } = Astro.props
---

<nav class="flex flex-col gap-2 mt-6">
  {
  links.map( ({ url, icon, title }) => (
    <a
      href={ url }
      class={ `flex items-center px-4 py-2 mt-1 text-gray-600 hover:bg-gray-200 gap-2 ${ currentPath === url ? activeClass : '' }` }
    >
      <Icon
        size={ 24 }
        name={ icon }
      />
      { title }
    </a>
    ) )
  }
</nav>
<div class="w-full mt-5 border-t-2 border-gray-600">
<button
    class="flex items-center px-4 py-2 text-gray-600 hover:bg-gray-200 gap-2 mt-2 w-full"
    id="signout"
  >
    <Icon size={ 24 } name="mdi:logout" />
    Cerrar sesión
  </button>
</div>

<script>
  const { signOut } = await import( 'auth-astro/client' )

  const signoutElement = document.querySelector( '#signout' ) as HTMLLIElement

  signoutElement.addEventListener( 'click', async () => {
    await signOut()
    window.location.href = '/auth/signin'
  } )
</script>
