---
import Navbar from '@/modules/shared/components/ui/Navbar.astro'

const links = [
  {
    name: 'inicio',
    url: '/',
  },
  {
    name: 'servicios',
    url: '/services',
  },
  {
    name: 'acerca de',
    url: '/about',
  },
  {
    name: 'Ingresar',
    url: '/auth/signin',
  }
]
---
<Navbar links={ links }>
  <li id="logout" class="font-semibold text-gray-700 hover:text-blue-600 capitalize">
    <a href="#">Cerrar sesión</a>
  </li>
</Navbar>

<script>
  const { signOut } = await import( 'auth-astro/client' )

  const logoutElement = document.querySelector( '#logout' ) as HTMLLIElement

  logoutElement.addEventListener('click', async () => {
    await signOut()
    window.location.href = '/auth/signin'
  });
</script>
