---
import { Icon } from 'astro-icon/components'

const links = [
  {
    title: 'Panel de Control',
    icon: 'mdi:home-outline',
    url: '/admin',
  },
  {
    title: 'Usuarios',
    icon: 'mdi:account-group-outline',
    url: '/admin/users',
  },
  {
    title: 'Categorías de Servicios',
    icon: 'mdi:briefcase-outline',
    url: '/admin/service-categories',
  },
  {
    title: 'Servicios',
    icon: 'mdi:briefcase-outline',
    url: '/admin/services',
  },
  {
    title: 'Configuración',
    icon: 'mdi:cog-outline',
    url: '/admin/categories',
  },
  {
    title: 'Ayuda',
    icon: 'mdi:help-circle-outline',
    url: '#',
  }
]

const activeClass = 'bg-gray-200 text-gray-900'
const currentPath = Astro.url.pathname
---

<nav class="flex flex-col gap-2 mt-6">
  {
  links.map( ({ url, icon, title }) => (
    <a
      href={ url }
      class={ `flex items-center px-4 py-2 mt-1 text-gray-600 hover:bg-gray-200 gap-2 ${ currentPath === url ? activeClass : '' }` }
    >
      <Icon
        size={ 24 }
        name={ icon }
      />
      { title }
    </a>
    ) )
  }
</nav>
<div class="w-full mt-5 border-t-2 border-gray-600">
<button
    class="flex items-center px-4 py-2 text-gray-600 hover:bg-gray-200 gap-2 mt-2 w-full"
    id="signout"
  >
    <Icon size={ 24 } name="mdi:logout" />
    Cerrar sesión
  </button>
</div>

<script>
  const { signOut } = await import( 'auth-astro/client' )

  const signoutElement = document.querySelector( '#signout' ) as HTMLLIElement

  signoutElement.addEventListener( 'click', async () => {
    await signOut()
    window.location.href = '/auth/signin'
  } )
</script>
